apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: awx-${{ values.name }}-${{ values.environment }}
  annotations:
    backstage.io/managed-by: awx-backstage-platform

namespace: ${{ values.namespace }}

resources:
  - namespace.yaml
  - secrets.yaml
  - awx.yaml

commonLabels:
  app.kubernetes.io/name: awx
  app.kubernetes.io/instance: ${{ values.name }}
  app.kubernetes.io/component: automation-platform
  app.kubernetes.io/part-of: awx-automation-platform
  app.kubernetes.io/managed-by: awx-operator
  environment: ${{ values.environment }}

commonAnnotations:
  backstage.io/managed-by: awx-backstage-platform
  deployment.kubernetes.io/revision: "1"

{%- if values.environment == 'production' %}
replicas:
  - name: awx-${{ values.name }}
    count: 2
{%- endif %}

{%- if values.environment != 'production' %}
patchesStrategicMerge:
  - |-
    apiVersion: awx.ansible.com/v1beta1
    kind: AWX
    metadata:
      name: ${{ values.name }}
      namespace: ${{ values.namespace }}
    spec:
      # Development/Staging optimizations
      web_resource_requirements:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          cpu: 1000m
          memory: 2Gi
      task_resource_requirements:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi
{%- endif %}
