# Production configuration for containerized deployment
# This file is merged with app-config.yaml

app:
  title: Cloud Sandbox
  baseUrl: http://localhost:7007

organization:
  name: Platform Team

backend:
  baseUrl: http://localhost:7007
  listen: ':7007'
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:7007
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true

  # PostgreSQL database
  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
      database: backstage

  # Redis cache
  cache:
    store: redis
    connection: redis://${REDIS_HOST}:${REDIS_PORT}

# GitHub integration
integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}

# Kubernetes - provide empty clusters to satisfy required config
kubernetes:
  serviceLocatorMethod:
    type: 'multiTenant'
  clusterLocatorMethods:
    - type: config
      clusters: []

# TechDocs with MinIO (S3-compatible) storage
techdocs:
  builder: 'local'
  generator:
    runIn: 'local'
  publisher:
    type: 'awsS3'
    awsS3:
      bucketName: ${TECHDOCS_BUCKET}
      endpoint: http://${MINIO_HOST}:${MINIO_PORT}
      region: us-east-1
      s3ForcePathStyle: true
      credentials:
        accessKeyId: ${MINIO_ACCESS_KEY}
        secretAccessKey: ${MINIO_SECRET_KEY}

auth:
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true

scaffolder:
  defaultAuthor:
    name: Cloud Sandbox
    email: platform-team@company.com
  defaultCommitMessage: 'Initial commit from Cloud Sandbox template'

catalog:
  rules:
    - allow: [Component, System, API, Resource, Location, Domain, Template, User, Group]
  locations:
    # Users and Groups
    - type: file
      target: ./catalog/users.yaml
      rules:
        - allow: [User, Group]

    # Domains
    - type: file
      target: ./catalog/domains.yaml
      rules:
        - allow: [Domain]
    - type: file
      target: ./catalog/devops-domains.yaml
      rules:
        - allow: [Domain]

    # Systems
    - type: file
      target: ./catalog/systems.yaml
      rules:
        - allow: [System]
    - type: file
      target: ./catalog/devops-systems.yaml
      rules:
        - allow: [System]

    # Components
    - type: file
      target: ./catalog/sample-components.yaml
    - type: file
      target: ./catalog/cloud-components.yaml
    - type: file
      target: ./catalog/data-components.yaml
    - type: file
      target: ./catalog/infrastructure-components.yaml
    - type: file
      target: ./catalog/observability-components.yaml
    - type: file
      target: ./catalog/testing-components.yaml
    - type: file
      target: ./catalog/awx-core.yaml
    - type: file
      target: ./catalog/awx-operator.yaml

    # Templates
    - type: file
      target: ./templates/terraform-module/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/terraform-infrastructure/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/ansible-playbook/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/kubernetes-microservice/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/docker-application/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/awx-deployment/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/packer-image/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/vagrant-environment/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ./templates/cloud-sandbox/template.yaml
      rules:
        - allow: [Template]

permission:
  enabled: false
