---
# Install Docker on RHEL/CentOS/Amazon Linux

- name: Remove old Docker packages
  ansible.builtin.yum:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
    state: absent

- name: Add Docker repository
  ansible.builtin.yum_repository:
    name: docker-ce
    description: Docker CE Stable
    baseurl: "https://download.docker.com/linux/{{ 'rhel' if ansible_distribution == 'RedHat' else ansible_distribution | lower }}/$releasever/$basearch/stable"
    gpgcheck: true
    gpgkey: "https://download.docker.com/linux/{{ 'rhel' if ansible_distribution == 'RedHat' else ansible_distribution | lower }}/gpg"
    enabled: true

- name: Install Docker packages
  ansible.builtin.yum:
    name:
      - docker-ce-{{ docker_version }}
      - docker-ce-cli-{{ docker_version }}
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  when: docker_version != 'latest'
  notify: Restart docker

- name: Install Docker packages (latest)
  ansible.builtin.yum:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
  when: docker_version == 'latest'
  notify: Restart docker
