---
# Configure Nginx

- name: Create Nginx configuration directories
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
    mode: '0755'
    owner: root
    group: root
  loop:
    - '{{ nginx_conf_dir }}'
    - '{{ nginx_conf_dir }}/conf.d'
    - '{{ nginx_conf_dir }}/sites-available'
    - '{{ nginx_conf_dir }}/sites-enabled'
    - '{{ nginx_conf_dir }}/snippets'

- name: Create webroot directory
  ansible.builtin.file:
    path: '{{ nginx_webroot }}'
    state: directory
    mode: '0755'
    owner: '{{ nginx_user }}'
    group: '{{ nginx_group }}'

- name: Create log directory
  ansible.builtin.file:
    path: '{{ nginx_log_dir }}'
    state: directory
    mode: '0755'
    owner: '{{ nginx_user }}'
    group: '{{ nginx_group }}'

- name: Configure main nginx.conf
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: '{{ nginx_conf_dir }}/nginx.conf'
    mode: '0644'
    owner: root
    group: root
    validate: 'nginx -t -c %s'
  notify: Reload nginx

- name: Configure mime types
  ansible.builtin.template:
    src: mime.types.j2
    dest: '{{ nginx_conf_dir }}/mime.types'
    mode: '0644'
    owner: root
    group: root
  notify: Reload nginx

- name: Configure proxy settings snippet
  ansible.builtin.template:
    src: proxy-params.conf.j2
    dest: '{{ nginx_conf_dir }}/snippets/proxy-params.conf'
    mode: '0644'
    owner: root
    group: root
  notify: Reload nginx

- name: Configure gzip settings snippet
  ansible.builtin.template:
    src: gzip.conf.j2
    dest: '{{ nginx_conf_dir }}/snippets/gzip.conf'
    mode: '0644'
    owner: root
    group: root
  notify: Reload nginx

- name: Remove default site
  ansible.builtin.file:
    path: '{{ nginx_conf_dir }}/sites-enabled/default'
    state: absent
  when: nginx_remove_default_site | bool
  notify: Reload nginx
